* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }

  header {
    background-color: rgb(89 86 74 / 14%);
    border-radius: 0px 0px 150px 150px;
    /* height: 150px; */
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
  }
  
  header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 12vh;
    min-width: 100%;
    z-index: 10;
    background: gray;
    border-bottom: 2px solid gray;
  }
  
  header .navigation .logo {
    margin-left: 20px;
  }
  
  header > .navigation > .logo > img {
    height: 50px;
    width: 50px;
  }
  
  header .navigation .menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto 20px auto 0;
  }
  
  header .navigation .humbarger {
    margin-right: 20px;
    display: none;
  }
  
  header .navigation .humbarger .bar {
    width: 30px;
    height: 2px;
    margin: 7px;
    background: black;
  }
  
  header .navigation .menu-list li a {
    color: #b1d4e0;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* ====================
      Intro Section
    =======================*/
  .intro-section {
    height: 100vh;
    position: relative;
    background: rgba(15, 20, 35, 0.9);
  }
  
  .intro-section .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .intro-section .intro-content h1 {
    color: #b1d4e0;
    font-size: 5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 80px;
  }
  
  .intro-section .intro-content h6 {
    margin-top: 5px;
    color: #b1d4e0;
    font-size: 2.5rem;
    font-weight: 300;
  }
  
  .intro-section .intro-content p {
    margin-top: 40px;
    color: #b1d4e0;
  }
  
  .intro-content .tagline {
    margin-top: 80px;
  }
  
  .intro-section .intro-content .tagline .change-container {
    position: relative;
    display: inline-block;
    width: 560px;
    margin-bottom: 55px;
    margin-top: 30px;
  }
  
  .intro-section .intro-content .changing {
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    color: #b1d4e0;
    text-transform: uppercase;
    word-spacing: 5px;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .changing:nth-child(1) {
    animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
  }
  
  .changing:nth-child(2) {
    animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
  }
  
  .changing:nth-child(3) {
    animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
  }
  
  @keyframes revealNextWord {
    0% {
      opacity: 0.3;
      height: 0;
    }
    10% {
      opacity: 1;
      height: 1.2em;
    }
    20% {
      opacity: 1;
      height: 1.2em;
    }
    28% {
      opacity: 0;
      height: 2em;
    }
  }
  
  .intro-section .intro-content .header-btn a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #3498db;
    background-color: #b1d4e0;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
  }
  
  .intro-section .intro-content .header-btn a:before {
    position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #3498db;
    transform: skew(50deg);
    transition-duration: 1s;
    z-index: 1;
  }
  
  .intro-section .intro-content .header-btn a:hover {
    color: #b1d4e0;
  }
  
  .intro-section .intro-content .header-btn a:hover:before {
    width: 170%;
  }
  
  .intro-section .intro-content .header-btn a span {
    position: relative;
    z-index: 9;
  }
  
  /* ====================
      Responsive Section
    =======================*/
  
  /* Tablet desktop :768px. */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    header .navigation .menu-list {
      width: 60%;
      height: 100vh;
      justify-content: space-between;
    }
  
    header .navigation .menu-list li a {
      font-size: 2rem;
      color: #111;
    }
  
    .menu-list {
      position: fixed;
      color: #111 !important;
      top: 90px !important;
      left: -100%;
      display: flex;
      flex-direction: column;
      padding: 160px 50px !important;
      text-align: center;
      width: 100% !important;
      height: 100vh;
      background: #fff;
      transition: 0.5s;
      z-index: 999;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .menu-list.active {
      left: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
    }
  
    header ul li a {
      color: #111;
      font-size: 24px;
    }
  
    .toggle {
      width: 40px;
      height: 40px;
      background: url(menu.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
    }
  
    .toggle.active {
      background: url(close.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      cursor: pointer;
    }
  }
  
  /* Large Mobile :480px. */
  
  @media only screen and (max-width: 767px) {
    header .navigation .menu-list {
      width: 30%;
      height: 100vh;
      justify-content: space-between;
    }
  
    header .navigation .menu-list li {
      display: block;
    }
  
    header .navigation .menu-list li a {
      display: block;
      padding: 20px;
      transition: color 1s ease, padding 1s ease, background-color 1s ease;
      color: #111;
    }
  
    header .navigation .menu-list li a:hover {
      color: #b1d4e0;
      padding-left: 30px;
      background: rgba(177, 212, 224, 0.2);
    }
  
    header .navigation .humbarger {
      display: block;
    }
  
    .intro-section .intro-content h1 {
      font-size: 2.8rem;
    }
  
    .intro-section .intro-content h6 {
      font-size: 1.4rem;
    }
  
    .intro-section .intro-content .changing {
      font-size: 1.5rem;
    }
  
    .intro-section .intro-content .header-btn a {
      font-size: 1.25rem;
    }
  
    .menu-list {
      
      position: fixed;
      color: #111 !important;
      top: 90px !important;
      left: -100%;
      display: flex;
      flex-direction: column;
      padding: 160px 50px !important;
      text-align: center;
      width: 100% !important;
      height: 100vh;
      background: #fff;
      transition: 0.5s;
      z-index: 999;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .menu-list.active {
      left: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
    }
  
    header ul li a {
      color: #111;
      font-size: 24px;
      margin: 10px;
    }
  
    .toggle {
      width: 40px;
      height: 40px;
      background: url(menu.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
    }
  
    .toggle.active {
      background: url(close.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      cursor: pointer;
    }
  }
  
  /* small mobile :320px. */
  
  @media only screen and (max-width: 479px) {
  
    header .navigation .menu-list {
      width: 70%;
      height: 100vh;
      justify-content: space-between;
    }
  
    .intro-inner .intro-content h1 {
      font-size: 2rem;
      letter-spacing: 1px;
    }
  
    .intro-inner .intro-content p {
      margin-top: 10px;
    }
  
    .menu-list {
      position: fixed;
      top: 67px;
      left: -100%;
      display: flex;
      flex-direction: column;
      padding: 100px 50px;
      text-align: center;
      width: 100%;
      height: 100vh;
      background: #fff;
      transition: 0.5s;
      z-index: 999;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .menu-list.active {
      left: 0;
      display: flex;
      flex-direction: column;
    }
  
    header ul li a {
      color: #111;
      font-size: 24px;
      margin: 10px;
    }
  
    .toggle {
      width: 40px;
      height: 40px;
      background: url(menu.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
    }
  
    .toggle.active {
      background: url(close.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      cursor: pointer;
      overflow: visible;
    }
  }
  